/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
}

.dropdown-menu {
    text-align: center;
}

.container-fluid {
    text-align: center;
}

main {
    background-image: url(../medios/fondo-marmol.jpg);
}

/* MAIN INICIO */

.img-inicio {
    height: 500px;
    object-fit: cover;
}

.cards img {
    object-fit: cover;
}

/* MAIN GALERIA */

.img-galeria {
    height: 300px;
    object-fit: cover;
}

/* MAIN CONTACTO */

.section-contacto div {
    padding: 1%;
    flex-direction: column;
    text-align: center;
}

.border-radius {
    border-radius: 5px;
}

.mapa-contacto {
    width: 90%;
    padding: 5%;
}

/* MAIN CATÁLOGO */

.img-catalogo {
    border: solid 1px black;
    text-align: center;
}

/* .cataloguito {
    display: flex;
    justify-content: center;
} */

.text-catalogo {
    margin-bottom: 0;
}

/* MAIN NOSOTROS */

.section-nosotros {
    text-align: center;
}

.texto-bottom {
    margin-bottom: 0;
    padding-bottom: 5%;
}

footer {
    background-color: black;
    color: white;
}

.footer-abajo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.redes-sociales {
    position: fixed;
    right: 1%;
    bottom: 1%;
}

/* MEDIA QUERIES */

/* MAIN CATÁLOGO */

@media (min-width:992px) {
    .div-catalogo div {
        display: flex;
        align-items: center;
        font-size: large;
    }
}